In [23]:
import pandas as pd
import pymysql
import getpass
from sqlalchemy import create_engine
import pymysql
conn = pymysql.connect(host="localhost",
                       port=3306,
                       user="root",
                       passwd=getpass.getpass(),
                       db="newcovid")

········

In [26]:
#db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT * FROM master_stats', con=conn)

In [27]:
df

,gdp_per_head_2018,air_transport_passengers_2018,population_density_2018,practPHYSICIANSp100kinh,health_exp_in_€_pH,deaths_pneumo_2016,death_rate_chronic_diseases,total_nights_spent_hotels_2018,total_population_2018,Country,Confirmed,Deaths,Recovered
0,37810.0,31138417,107.1,518.28,4371.34,11.33,103.7,125229170.0,8822267,Austria,12639,243,4046
1,35600.0,34506294,375.3,308.29,3991.58,35.27,99.3,41320284.0,11398589,Belgium,22194,2035,4157
2,6550.0,12137714,63.9,424.49,591.11,18.98,193.9,26845013.0,7050034,Bulgaria,577,23,42
3,23770.0,10927101,94.4,386.84,1527.71,12.49,82.4,17164182.0,864236,Cyprus,494,9,47
4,35860.0,222422361,234.7,424.88,4459.36,20.94,112.0,419556284.0,82792351,Germany,107663,2016,36081
5,48260.0,34701139,138.0,NaN,5134.04,35.21,108.9,33280395.0,5781190,Denmark,5071,203,1491
6,15090.0,2995528,30.4,346.82,1152.52,19.32,155.8,6630315.0,1319133,Estonia,1149,21,69
7,24880.0,220611429,93.1,387.68,2221.11,17.97,94.7,466940717.0,46658447,Spain,141942,14045,43208
8,36850.0,22173530,18.1,NaN,3742.34,2.88,101.0,22235084.0,5513130,Finland,2308,34,300
9,32830.0,161991179,105.6,315.80,3883.02,17.89,101.8,442760050.0,66926166,France,109069,10328,19337
10,11990.0,9731294,73.2,336.21,805.33,16.53,169.8,89567653.0,4105493,Croatia,1282,18,167
11,12560.0,15176493,107.1,332.48,871.95,11.75,243.7,32830120.0,9778371,Hungary,817,47,71
12,57960.0,36345005,70.9,306.57,4395.41,39.28,96.8,NaN,4830392,Ireland,5709,210,25
13,26740.0,153352444,202.9,398.95,2522.52,14.35,84.6,428844937.0,60483973,Italy,135586,17127,24392
14,13310.0,6254178,44.7,455.63,963.25,19.91,224.4,8091647.0,2808901,Lithuania,880,15,8
15,83470.0,3988804,235.1,298.49,5082.84,20.85,94.7,2920245.0,602005,Luxembourg,2970,44,500
16,12140.0,7037081,30.4,320.50,828.80,18.79,216.6,5368739.0,1934379,Latvia,548,2,16
17,21670.0,6805817,1548.3,396.37,2249.54,27.85,101.6,10114196.0,475701,Malta,293,0,5
18,41540.0,79644055,504.0,358.22,4345.73,22.22,97.3,116081577.0,17181084,Netherlands,19580,2101,250
19,69530.0,40030105,17.2,465.85,7013.51,34.75,79.8,NaN,5295619,Norway,6086,89,32
20,NaN,43767548,123.6,237.75,NaN,43.31,153.7,88860463.0,37976687,Poland,4848,129,191
21,8740.0,19809642,83.1,292.68,493.78,36.49,229.8,28461153.0,19530631,Romania,4417,197,460
22,43810.0,38945096,25.0,NaN,5206.34,18.18,78.7,60856874.0,10120242,Sweden,7693,591,205
23,32700.0,272190155,273.8,281.10,3408.88,49.47,113.3,NaN,66273576,United Kingdom,55242,6159,135